<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44322" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.301\DotnetTools\dotnet-watch\6.0.301-rtm.22274.11\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll;c:\program files\microsoft visual studio\2022\community\common7\ide\commonextensions\microsoft\hotreload\Microsoft.Extensions.DotNetDeltaApplier.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="wss://localhost:44333/Estimator/,ws://localhost:63627/Estimator/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuq+ZH97KqkER9x4RvhpKz5zjQPhBMMRzxd4mj8YmglHnni5dhqg/mIOI0DHWBLGKP9L+aneHzk/2krbsj4i45YeI5oZEIa4Ls0w9dOUQo2HONnpFKaWsr+sdW9+3FqTrhPLCrQkb+fWvv7/tsqnToceno17AqzRFdIyklKbWfZ9mrvLux0Z0GdGsTJHN33lEtPb6oK4sjK+jlujWxq5scO63jOon7rTUaLWKbom6J6m0UQOFmk4HoVMXFzKPg94lujJms+h4ofFLY3F8jxPhJWv52Nd0A8aJLRnqORgnv5Too83HmwJBqA5NqaMyKYvJL+9i4ZWH5ykAyCSUqVYMxQIDAQAB" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_VDIR" value="/" />
          <environmentVariable name="DOTNET_HOTRELOAD_NAMEDPIPE_NAME" value="4f064cee-6740-4ae1-8681-c3416203c305" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
    <system.web>
      <globalization culture="ru-RU" uiCulture="ru-RU" />
    </system.web>
  </location>
</configuration>
<!--ProjectGuid: 9101fa48-11ed-4dd7-a345-fe94a5974f81-->