@page
@model Estimator.Pages.Help.IndexModel
@{
}
<nav class="d-none d-xl-block col-xl-2 bd-toc" aria-label="Secondary navigation">
    <nav id="TableOfContents">
        <ul>
            <li><a href="#overview">Overview</a></li>
            <li>
                <a href="#form-controls">Form controls</a>
                <ul>
                    <li><a href="#sizing">Sizing</a></li>
                    <li><a href="#readonly">Readonly</a></li>
                    <li><a href="#readonly-plain-text">Readonly plain text</a></li>
                </ul>
            </li>
            <li><a href="#range-inputs">Range Inputs</a></li>
            <li>
                <a href="#checkboxes-and-radios">Checkboxes and radios</a>
                <ul>
                    <li><a href="#default-stacked">Default (stacked)</a></li>
                    <li><a href="#inline">Inline</a></li>
                    <li><a href="#without-labels">Without labels</a></li>
                </ul>
            </li>
            <li>
                <a href="#layout">Layout</a>
                <ul>
                    <li><a href="#form-groups">Form groups</a></li>
                    <li>
                        <a href="#form-grid">Form grid</a>
                        <ul>
                            <li><a href="#form-row">Form row</a></li>
                            <li>
                                <a href="#horizontal-form">Horizontal form</a>
                                <ul>
                                    <li><a href="#horizontal-form-label-sizing">Horizontal form label sizing</a></li>
                                </ul>
                            </li>
                            <li><a href="#column-sizing">Column sizing</a></li>
                            <li><a href="#auto-sizing">Auto-sizing</a></li>
                        </ul>
                    </li>
                    <li><a href="#inline-forms">Inline forms</a></li>
                </ul>
            </li>
            <li><a href="#help-text">Help text</a></li>
            <li><a href="#disabled-forms">Disabled forms</a></li>
            <li>
                <a href="#validation">Validation</a>
                <ul>
                    <li><a href="#how-it-works">How it works</a></li>
                    <li><a href="#custom-styles">Custom styles</a></li>
                    <li><a href="#browser-defaults">Browser defaults</a></li>
                    <li><a href="#server-side">Server side</a></li>
                    <li><a href="#supported-elements">Supported elements</a></li>
                    <li><a href="#tooltips">Tooltips</a></li>
                    <li><a href="#customizing">Customizing</a></li>
                    <li><a href="#input-group-validation">Input group validation</a></li>
                </ul>
            </li>
            <li>
                <a href="#custom-forms">Custom forms</a>
                <ul>
                    <li>
                        <a href="#checkboxes-and-radios-1">Checkboxes and radios</a>
                        <ul>
                            <li><a href="#checkboxes">Checkboxes</a></li>
                            <li><a href="#radios">Radios</a></li>
                            <li><a href="#inline-1">Inline</a></li>
                            <li><a href="#disabled">Disabled</a></li>
                        </ul>
                    </li>
                    <li><a href="#switches">Switches</a></li>
                    <li><a href="#select-menu">Select menu</a></li>
                    <li><a href="#range">Range</a></li>
                    <li>
                        <a href="#file-browser">File browser</a>
                        <ul>
                            <li><a href="#translating-or-customizing-the-strings-with-scss">Translating or customizing the strings with SCSS</a></li>
                            <li><a href="#translating-or-customizing-the-strings-with-html">Translating or customizing the strings with HTML</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</nav>