@page 
@model IndexModel
@{
    ViewData["Title"] = "Калькулятор стоимости испытаний";
}

        <h1 class="display-4">Калькулятор трудоёмкости  испытаний</h1>
        <article>
            <div class="form-group">
                <h4>
                    Версия 2.5
                </h4>
                <ol>
                    <li>
                        Новый отчет-стоимость по элементам (если перечень импортирован в систему).
                    </li>
                </ol>
                <h4>
                    Версия 2.4
                </h4>
                <ol>
                    <li>
                        Для связанных заявок отображается сводная структура цены.
                    </li>
                </ol>
                <h4>
                    Версия 2.3
                </h4>
                <ol>
                    <li>
                        Новый отчет: Ранее забракованные изделия.
                    </li>
                    <li>
                        В отчете под структурой цены, отображается сводка ранее испытанных изделий.
                    </li>
                    <li>
                        Добавлена возможность выбора года экономических показателей.
                    </li>

                </ol>
                <h4>
                    Версия 2.2
                </h4>
                <ol>
                    <li>
                        Добавлен шаблон программы (ВК, 154.ТВВФ001)
                    </li>
                    <li>
                        Добавлена возможность редактирования ключей типов элементов
                    </li>
                </ol>
                <h4>
                    Версия 2.1
                </h4>
                <ol>
                    <li>
                        Добавлена проверка в АСУ,  проводились ли ранее испытания.Если загружен перечень. Используется для подсчета необходимой оснастки.
                        Проверка проводится только для типов для которых используется оснастка (микросхем,  полупроводников и т.п.)
                    </li>
                    <li>
                        При загрузке перечня проводится проверка, был ли в какой-либо заявке такой элемент. Если был и ему присвоен тип,
                        то для вновь загружаемого элемента тип берется из ранее загруженного.
                    </li>

                </ol>
                <h4>
                    Версия 2.0
                </h4>
                <ol>
                    <li>
                        Добавлена аутентификация по ролям.
                        Пользователь с ролью User не может редактировать
                        программы и пользователей.
                    </li>
                    <li>
                        Добавлена идентификация заявок по ID.
                    </li>
                    <li>
                        Добавлена ссылка у заявки на родительскую или дочернюю заявку.
                    </li>
                </ol>
                <h4>
                    Версия 1.9.
                </h4>
                <ol>
                    <li>
                        Возможность создания заявки на сертификацинные испытания ЭКБ ИП из заявки на дополнительные испытания.
                        Перечень переносится согласно связям между типами;
                    </li>
                    <li>
                        Добавлена авторизация и аутентификация пользователей.
                    </li>
                </ol>
                <h4>
                    Версия 1.8.
                </h4>
                <ol>
                    <li>
                        Возможность загpузки перечня из xlsx  файлов и суммирования по типам;
                    </li>
                </ol>
                <h4>
                    Версия 1.7.
                </h4>
                <ol>
                    <li>
                        При сохранении заявки сразу перекидывает на отчет со стоимостью;
                    </li>

                </ol>
                <h4>
                    Версия 1.6.
                </h4>
                <ol>
                    <li>
                        Новая форма отчета -стоимость по группам испытаний;
                    </li>
                    <li>
                        При создании заявки дата заявки по умолчанию -сегодня;
                    </li>
                </ol>
                <h4>
                    Версия 1.5.
                </h4>
                <ol>
                    <li>
                        Исправлена ошибка c несохранением группировки операций;
                    </li>
                    <li>
                        Исправлена ошибка расчета стоимости для пустой заявки;
                    </li>
                    <li>
                        В форму редактирования трудоёмкости операции добавлены ссылки на все операции для данного типа, в виде кодов операций.
                        Наименование операции во всплывающей подсказке. Не забываем нажимать сохранить!
                    </li>
                </ol>

                <h4>
                    Версия 1.4.
                </h4>
                <ol>
                    <li>В отчет добавлены итоговые суммы партий,  изделий и отсутствующих оснасток, добавлена средняя зарплта;</li>
                    <li>Загрузка нормативов предприятия из базы данных;</li>
                    <li>Загрузка коэфициентов расчета,(трудопотери , технологические перерывы и т.п.) из базы данных;</li>
                    <li> В формулу расчета трудоемкости добавлены коэфиценты расчета;</li>
                    <li>
                        Добавлена группировка для операции (используется  если на операции одновременно испытывается несколко изделий).
                        Сколько в камеру одновременно влазит- столько и вводят в поле группа;
                    </li>
                    <li>Группировка операций добавлена в формулу расчёта;</li>
                    <li>Год для которого используют нормативы вводят в файле конфигурации приложения;</li>
                </ol>

            </div>
        </article>
