@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <a asp-page="./Index" class="btn btn-primary">btn-primary</a>
        <a asp-page="./Index" class="btn">btn</a>
        <a asp-page="./Index" class="btn btn-block">btn-block</a>
        <a asp-page="./Index" class="btn btn-danger">btn-danger</a>
        <a asp-page="./Index" class="btn btn-dark">btn-dark</a>
        <a asp-page="./Index" class="btn btn-group">btn-group</a>
        <a asp-page="./Index" class="btn btn-group-lg">btn-group-lg</a>
        <a asp-page="./Index" class="btn btn-group-sm">btn-group-sm</a>
        <a asp-page="./Index" class="btn btn-group-toggle">btn-group-toggle</a>
        <a asp-page="./Index" class="btn btn-group-vertical">btn-group-vertical</a>
        <a asp-page="./Index" class="btn btn-info">btn-info</a>
        <a asp-page="./Index" class="btn btn-lg">btn-lg</a>
        <a asp-page="./Index" class="btn btn-light">btn-light</a>
        <a asp-page="./Index" class="btn btn-secondary">btn-secondary</a>
        <a asp-page="./Index" class="btn btn-toolbar">btn-toolbar</a>
    </div>
