@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Политика конфиденциальности"]</h1>

<p class="lead">
    На ресурсе, <b>не предусмотрены </b> формы заявок, кнопки обратного звонка, cookie-файлы,
    регистрация в личном кабинете, e-mail рассылки и другие способы сбора, 
    хранения и обработки личных данных (ФИО, номера телефонов и т.п.) 
    <b>Мы не должны соблюдать политику конфиденциальности.</b>
    
</p>
<p class="lead">
    Сама политика конфиденциальности обязует 
    владельцев ресурса не передавать информацию о пользователях третьим лицам,
    объясняет какие данные ресурс будет собирать и для каких целей.
    <b>Мы ничего не собираем и никому ни для чего не  передаем.</b>
</p>
