@page
@model Estimator.Pages.Price.CreateModel

@{
    ViewData["Title"] = "Создать прейскурант";
}
@if (Model.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@Model.Message");
            };
        </script>
    }
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" enctype="multipart/form-data">

<div class="row">
    <div class="col mb-3">


        <div class="card">
            <div class="card-header">
                Создание прейскуранта:
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                                <label for="manufactory" class="control-label">Изготовитель</label>
                                <select id="manufactory" asp-for="PriceList.CompanyId" asp-items="ViewBag.CompanyID" class="form-control selectpicker" multiple title="Выберите изготовителя..." data-live-search="true">
                            </select>
                            
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="PriceList.Name" class="control-label">Наименование</label>
                            <input asp-for="PriceList.Name" class="form-control" />
                            <span asp-validation-for="PriceList.Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col">

                        <div class="form-group">
                            <label asp-for="PriceList.DateStart" class="control-label">Дата введения</label>
                            <input asp-for="PriceList.DateStart" type="date" class="form-control" />
                            <span asp-validation-for="PriceList.DateStart" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="PriceList.DateEnd" class="control-label">Дата окончания</label>
                            <input asp-for="PriceList.DateEnd" type="date" class="form-control" />
                            <span asp-validation-for="PriceList.DateEnd" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                   
                    <div class="col">
                         <div class="form-group">
                        <label asp-for="PriceList.Description" class="control-label">Описание</label>
                        <input asp-for="PriceList.Description" class="form-control" placeholder="Необязательно" />
                        <span asp-validation-for="PriceList.Description" class="text-danger"></span>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="PriceList.Description" class="control-label">Скан прайса(*.pdf)</label>
                            <input type="file" name="postedFiles" class="form-control" enctype="multipart/form-data" />
                        </div>
                    </div>
                    <
                </div>
                   <div class="row">
                    <div class="col">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="PriceList.IsDifficult" /> @Html.DisplayNameFor(model => model.PriceList.IsDifficult)
                            </label>
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a asp-page="Index" class="btn btn-outline-primary">Назад</a>
                                    <input type="submit" value="Добавить" class="btn btn-outline-primary" asp-page-handler="Upload" />
                                </<div>
                        
                        </div>
                    </div>
                    
                </div>
             </div>
        </div>
 </div>
</div>
    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
