@page
@model Estimator.Pages.Price.CreateModel

@{
    ViewData["Title"] = "Create";
}
@if (Model.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@Model.Message");
            };
        </script>
    }
<h1>Создание</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PriceList.Manufacturer" class="control-label">Производитель</label>                
                <select asp-for="PriceList.Manufacturer" asp-items="Model.companyList" class="form-control">
                </select>
                <span asp-validation-for="PriceList.Manufacturer" class="text-danger"></span>  
            </div>
            <div class="form-group">
                <label asp-for="PriceList.Name" class="control-label">Наименование</label>
                <input asp-for="PriceList.Name" class="form-control" />
                <span asp-validation-for="PriceList.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceList.DateStart" class="control-label">Дата введения</label>
                <input asp-for="PriceList.DateStart" class="form-control" />
                <span asp-validation-for="PriceList.DateStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceList.DateEnd" class="control-label">Дата окончания</label>
                <input asp-for="PriceList.DateEnd" class="form-control" />
                <span asp-validation-for="PriceList.DateEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceList.Description" class="control-label">Описание</label>
                <input asp-for="PriceList.Description" class="form-control" placeholder="Необязательно" />
                <span asp-validation-for="PriceList.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceList.Description" class="control-label">Скан прайса(*.pdf)</label>
                <input type="file" name="postedFiles" class="form-control" enctype="multipart/form-data" />            
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PriceList.IsDifficult" /> @Html.DisplayNameFor(model => model.PriceList.IsDifficult)               
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-outline-primary" asp-page-handler="Upload" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
