@page
@model Estimator.Pages.Price.IndexModel
@{
    ViewData["Title"] = "Прайсы";
}
<div class="container">
    <div class="row">
        <h1>Здесь будут Прайсы заводов изготовителей</h1>
    </div>
</div>
