@page
@model Estimator.Pages.ElementKey.CreateModel

@{
    ViewData["Title"] = "Ключ для элемента";
}


<img height="32" width="32" src="~/key.png" />
<br />
<h4>Ключ для:&ensp;@Html.DisplayFor(modelItem => Model.ElementKey.ElementType.Name)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="ElementKey.ElementKeyID" />
                <input type="hidden" asp-for="ElementKey.ElementTypeID" />
            </div>
            <div class="form-group">
                <label asp-for="ElementKey.Key" class="control-label"></label>
                <input asp-for="ElementKey.Key" class="form-control" />
                <span asp-validation-for="ElementKey.Key" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <a asp-page="Index" class="btn btn-outline-primary" asp-route-id="@Model.ElementKey.ElementTypeID">К списку</a>!
                <input type="submit" value="Сохранить" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
