@page
@model Estimator.Pages.Manufacturer.CreateModel


<h2>Добавление нового предприятия</h2>

<form method="post">
    <p>
        <label>Код</label><br />
        <input name="Code" />
    </p>
    <p>
        <label>Наименование:</label><br />
        <input name="Name" />
    </p>
    <p>
        <label>Примечание:</label><br />
        <input name="Note" />
    </p>
    <input type="submit" value="Добавить" />
</form>