@page "{id:int}"
@model Estimator.Pages.Manufacturer.EditModel


<h2>Редактирование данных</h2>

<form method="post">

    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <div class="card-header">
                    Производитель:&nbsp;@Model.Factory?.Name:
                </div>

                <div class="card-body">
                    <input name="id" value="@Model.Factory?.Id" type="hidden" />
                    <div class="form-group row">
                        <div class="col">
                            <label for="Name">Код изготовителя</label>
                            <input class="form-control" id="Name" placeholder="Код изготовителя" value="@Model.Factory?.Code">

                        </div>
                      
                    </div>
                    <div class="form-group row">

                        <div class="col">
                            <label for="Manufacturer">Изготовитель</label>
                            <input class="form-control" id="Manufacturer" placeholder="Изготовитель" value="@Model.Factory?.Name">

                        </div>
                    </div>
               
                   
                    <div class="form-group row">
                        <div class="col">
                            <label for="Description">Описание</label>
                            <textarea rows="3" class="form-control" id="Description" placeholder="Описание" > @Model.Factory?.Note</textarea>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <input type="submit" class="btn btn-outline-primary" value="Сохранить" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
</form>