@page
@model Estimator.Pages.Manufacturer.IndexModel
@{
    ViewData["Title"] = "Производители ЭКБ";
}
<div class="container">
    <div class="row">
        <h1>Здесь будет справочник производителей ЭКБ ОП</h1>
    </div>
</div>
