@page
@model Estimator.Pages.Customers.DeleteModel

@{
    ViewData["Title"] = "Удаление Заказчика";
}


<h3>Вы уверены что хотите удалить Заказчика?</h3>
<div>
 
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.INN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.INN)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Customer.CustomerID" />
        <div class="btn-group">
        <a asp-page="./Index" class="btn btn-outline-primary">К списку</a>|
        <input type="submit" value="Удалить" class="btn btn-outline-danger" /> 
        </div>
    </form>
</div>
